*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/caches/build_file_checksums.ser

app/version\.properties

\.idea/markdown-navigator\.xml

\.idea/markdown-exported-files\.xml

\.idea/encodings\.xml

app/prod/release/app\.aab

app/prod/release/
